/* hover control */
.video-controls-wrapper {
  opacity: 0;
  transform: translateY(1.5rem);
}

.video-hover-trigger:hover .video-controls-wrapper {
  opacity: 1;
  transform: translateY(0rem);
}

/* slider control */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  outline: none;
  overflow: hidden;
  /* background: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0.2) 50%); */
  /* background: var(--_brand---background--secondary); */
  background: rgba(255, 255, 255, 0.2);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: var(--_brand---background--secondary);
  border-radius: var(--radius--round);
  border: none;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider::-moz-range-progress {
  background-color: var(--_brand---background--secondary);
}

.slider::-webkit-slider-runnable-track {
  background: transparent;
}

[class*='html-icon'] svg {
  width: 100% !important;
  height: 100% !important;
}
