@media screen and (min-width: 991px) {
  .home_services_collection-list {
    padding-top: 4rem;
  }

  .home_services_collection-item:nth-child(3),
  .home_services_collection-item:nth-child(4) {
    transform: translateY(-4rem);
  }
}

.services_cards:hover .services_cards-heading-w,
.services_cards:hover .services_cards-description-w,
.services_cards:hover .services_cards-cover-w {
  background-color: var(--_brand---background--brand);
}

.services_cards:hover .services_cards-heading {
  background-color: var(--_brand---background--secondary);
}

.services_cards {
  transition: transform 0.3s ease-in-out;
}

.services_cards:hover {
  transform: translateY(-2rem);
}
